@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.mainHeader {
  display: flex;
  justify-content: space-between;
  font-family: 'Satisfy', cursive;
  font-size: 4vh;
  background-color: rgb(241, 240, 240);
  border-bottom: 0.5px solid rgb(189, 187, 187,0.87);
  margin-bottom: 0.5vh;
  align-items: baseline;
  margin-top: -2vh;
  max-height: 10vh;
}

.mainHeader ion-icon {
  font-size: 4vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: -1vh;
}

.StoryImage{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.5px solid rgba(189, 187, 187, 0.87);
  padding-bottom: -1vh;
}
.StoryImage p{
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  font-weight: 400;
  margin-bottom: 1vh;
}

h3{
  margin-top: 3vh;
}


footer{
  /* justify-content: space-evenly; */
  position: absolute;
  bottom: 0;
  border-top: 0.5px solid rgba(189, 187, 187, 0.87);
  padding-top: 0.5vh;
}

.footer1 ion-icon {
  width: 75px;
 font-size: 4vh;
 justify-content: space-evenly;
 margin-left: 7px;
}

.commentsProfilePic {
  width: 5vh;
}
.commentsDiv1 {
  display: flex;
}
.input {
  width: 800vw;
  border-radius: 25%;
  border-style: solid;
  border-color: gray;
}
.postButton {
  border-style: none;
  background-color: white;
  margin-bottom: 1vh;
}
li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 75vw;
  margin-left: 5vh;
  margin-bottom: 1vh;
}

.removeButton {
  border-style: none;
  background-color: white;
}