.mainHeader {
  display: flex;
  justify-content: space-between;
}

.mainHeader ion-icon {
  font-size: 5vh
}

footer{
  /* justify-content: space-evenly; */
  position: absolute;
  bottom: 0;
  border-top: 0.5px solid rgba(189, 187, 187, 0.87);
  padding-top: 0.5vh;
  
}

.footer1 ion-icon {
  width: 75px;
 font-size: 6vh;
 justify-content: space-evenly;
 margin-left: 7px;
 
}


